player-connection-mode=Listen
player-connection-guid=3981376684
player-connection-debug=0
player-connection-project-name=greg
player-connection-ip=192.168.0.134
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9aedf20c6bbc4bbfb022e6fe7a21b319
